* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}


/*顶部开始*/

a {
	color: black;
	text-decoration: none;
}

.head {
	width: 100%;
	height: auto;
	position: relative;
}

.head .contater {
	width: 1196px;
	margin: 0 auto;
	position: relative;
}

.head .contater .top: {
	width: 100%;
	height: 103px;
	/*margin: 0 3px;*/
	display: flex;
	justify-content: space-between;
	background: orange;
}

.logo {
	width: 202px;
	height: 43px;
	margin: 29px 0px;
}

.top-right {
	width: 300px;
	height: 18px;
	float: right;
	margin-top: 15px;
	color: black;
	font-size: 14px;
	margin-left: 20px;
	text-align: center;
}

.top-right a {
	color: gray;
}

.top-right a:hover {
	color: red;
}


/*导航开始*/

.nav {
	width: 992px;
	height: 30px;
	float: right;
	margin-top: -42px;
	z-index: 2;
	justify-content: space-between;
}

.nav>ul>.ipnone>.nav-item {
	width: 1196px;
	height: 240px;
	/*display: flex;*/
	justify-content: space-between;
	display: none;
	background: white;
	position: absolute;
	top: 103px;
	left: 0;
	margin: 0 auto;
	display: flex;
}

.nav>ul>.ipnone>.nav-item>ul {
	/*flex-direction:*/
	/*display: flex;*/
}

.nav>ul>.ipnone>.nav-item>ul>li {
	width: 100px;
	text-align: center;
	margin: 10px;
}

.nav li {
	display: inline-block;
	padding-left: 50px;
}

.nav li a {
	font-size: 14px;
	color: black;
	display: flex;
}

.nav li a:hover {
	color: red;
}

.nav li .one {
	padding-left: 106px;
}


/* 导航结束*/


/*顶部结束*/


/*banner图*/

.banner {
	width: 100%;
	height: 640px;
	margin: 0 auto;
}

.bannerimg {
	width: 1196px;
	height: 640px;
	margin: 0 auto;
	justify-content: center;
	position: relative;
}

.banner .bannerimg ul li {
	width: 1196px;
	height: 640px;
	/*position: relative;*/
}

.banner .bannerimg ul li img {
	width: 1196px;
	height: 640px;
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 0;
	/*display: none;*/
}

.banner .dots {
	width: 100%;
	height: 18px;
	bottom: 10px;
	position: absolute;
	bottom: 20px;
	left: 0;
}

.banner .dots ul {
	justify-content: center;
	align-items: center;
	display: flex;
}

.banner .dots ul .dot {
	width: 50px;
	height: 4px;
	background: gray;
	margin-left: 10px;
}

.banner .dots ul .active {
	background: red;
}

.banner .dots ul li:hover {
	background: red;
}

.banner>.bannerimg>.btns>img {
	width: 40px;
	height: 56px;
}

.banner>.bannerimg>.btns>.leftbtn {
	position: absolute;
	left: 40px;
	top: 45%;
	background: rgb(255, 255, 255, 0.5);
}

.banner>.bannerimg>.btns>.leftbtn:hover {
	background: rgb(0, 0, 0, 0.2);
}

.banner>.bannerimg>.btns>.rightbtn:hover {
	background: rgb(0, 0, 0, 0.2);
}

.banner>.bannerimg>.btns>.rightbtn {
	position: absolute;
	right: 40px;
	top: 45%;
	background: rgb(255, 255, 255, 0.5);
}


/*主体开始*/


/*明星产品*/

.star {
	width: 1196px;
	height: 568px;
	margin: 0 auto;
}

.title {
	width: 1196;
	/*明星产品.热卖推荐,精品配件标题样式*/
	height: 157px;
	margin: 0 auto;
}

.title p {
	font-size: 30px;
	text-align: center;
	line-height: 157px;
}


/*明星产品.热卖推荐,精品配件标题样式结束*/

.star .star-pic {
	display: flex;
	justify-content: space-between;
	width: 1196px;
	height: 271px;
}

.star .star-pic img {
	width: 389px;
	height: 271px;
}


/*灰色快*/

#gray {
	width: 100%;
	background-color: #e5e5e5;
}

.main {
	width: 1196px;
	height: auto;
	margin: 0 auto;
}


/*热卖推荐*/

.hotsale {
	width: 1196px;
	height: 782px;
	display: flex;
	justify-content: space-between;
}

.hotsale-left {
	width: 350px;
	height: 786px;
	float: left;
	/*margin-top:4px;*/
}

.hotsale-left>img {
	width: 350px;
	height: 786px;
}

.hotsale-left:hover {
	box-shadow: -5px 20px 30px rgba(0, 0, 0, 0.2);
}

.hotsale-right {
	width: 870px;
	height: 781px;
	float: left;
	margin-top: -4px;
}

.hotsale-right li {
	width: 270px;
	height: 390px;
	margin-left: 10px;
	margin-top: 4px;
	float: right;
}

.hotsale-right li:hover {
	box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
}

.hotsale-right li div {
	width: 270px;
	height: 388px;
	background-color: white;
	text-align: center;
	line-height: 30px;
}

.hotsale-right li img {
	margin-top: 25px;
	/*margin-left: -20px;*/
}


/*精品配件*/

.fine {
	width: 1196px;
	margin: 0 auto;
}

.Fine-accessories>.hr-more {
	text-align: right;
	font-size: 15px;
	padding-bottom: 15px;
	display: inline-block;
}

.Fine-accessories {
	width: 1196px;
	height: 718px;
	/*position: relative;*/
}

.Fine-accessories>ul {
	margin-right: 14px;
	margin-bottom: 16px;
	width: 1196px;
	height: 718px;
	display: table;
}

.Fine-accessories li:hover {
	box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
}

.Fine-accessories>ul>li {
	/*display: block;*/
	width: 386px;
	height: 343px;
	overflow: hidden;
	margin-right: 18px;
	margin-bottom: 16px;
	background: rgb(255, 255, 255, 0.8);
	float: left;
	clear: all;
	position: relative;
	text-align: center;
}

.Fine-accessories>ul>li>.fineimg {}

.Fine-accessories>ul>li>.fineimg>img {
	width: 193px;
	height: 172px;
	margin: 25px 96px;
}

#orange {
	position: absolute;
	/*margin-top: 300px;*/
	bottom: -70px;
	left: 0;
	width: 386px;
	height: 70px;
	background: #FF6700;
	text-align: center;
	line-height: 70px;
	transition: .3s;
}

.Fine-accessories li:hover #orange {
	bottom: 0;
}


/*品牌动态*/

.BrandDynamics ul {
	width: 1196px;
	height: 298px;
	margin: 0px auto;
	justify-content: space-between;
	display: flex;
}

.BrandDynamics li:hover {
	box-shadow: 0px 20px 30px 5px rgba(0, 0, 0, 0.2);
}

.BrandDynamics li img {
	width: 387px;
	height: 298px;
}

.more {
	display: block;
	margin: -10px auto;
	width: 1194px;
	height: 30px;
	text-align: right;
	line-height: 5px;
}


/*底部*/

.footer {
	width: 100%;
}

.footer .foot-contater {
	width: 1196px;
	border-bottom: 2px solid #e5e5e5;
	margin: 0px auto;
	display: flex;
	justify-content: space-around;
}

.footer .foot-contater div {
	width: 292px;
	height: 47px;
	margin: 30px auto;
	display: flex;
	/*align-content: center;*/
}

.footer .foot-contater div img {
	width: 46px;
	height: 46px;
}

.footer div a {
	display: block;
	line-height: 46px;
	color: #777;
	text-align: center;
}

.footer a:hover {
	color: red;
}

.inform {
	width: 1196px;
	display: flex;
	justify-content: space-between;
	margin: 30px auto;
}

.inform dl {
	text-align: center;
}

.inform dl dt {
	font-size: 16px;
	color: #777;
	line-height: 33px;
}

.inform dl dd a {
	font-size: 12px;
	line-height: 33px;
}

.inform dl dd img {
	width: 105px;
	height: 105px;
}


/*版权问题*/

.copyright {
	background-color: black;
	width: 100%;
	height: 130px;
	padding: 20px 0;
}

.copyright-one {
	width: 1196px;
	height: 116px;
	margin: 0 auto;
}

.copyright-one p {
	height: 23px;
	color: lightgray;
	font-size: 14px;
	line-height: 48px;
	margin-bottom: 8px;
}

.copyright-one .foot-inform {
	height: 46px;
	line-height: 46px;
}

.copyright-one .foot-inform a {
	color: lightgray;
}

.copyright-one p img {
	height: 46px;
}

.back {
	width: 45px;
	height: 90px;
	background: orangered;
	position: fixed;
	right:-10px;
	bottom: 200px;
	transform: translate(-100%);
	text-align: center;
	line-height: 40px;
}